@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f5f5f5; */
}

.website_container {
  width: 95%;
  margin: auto;
  max-width: 1920px;
  margin-top: 6.5rem;
}

/* Slide Show */
.lpImage {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slideshow {
  /* margin:auto; 
    width: 100%;
    padding: 1rem;
    height: 100vh; */
  position: relative;
  z-index: 2;
}

.slideshow>figure {
  height: calc(100vh - 4rem);
  width: calc(100vw - 4rem);
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.lp-section {
  position: relative;
  opacity: 0.8;
}

.lp-body {
  position: relative;
}

.lp-name {
  font-family: 'Playfair Display', serif !important;
  font-size: 2.5rem;
  font-weight: 400 !important;
  color: black;
  position: absolute;
  z-index: 10;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.lp-name>h1 .lp-name>p {
  background-color: transparent;
}

img {
  width: 100%;
  min-height: 100%;
  display: block;
  object-fit: cover;
}

figure {
  all: unset;
}

.img-grid2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-flow: dense;
}

.int {
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.int img {
  /* object-fit: contain; */
}

.grid-interiors {
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 4rem;
}

.interior-heading {
  display: block;
  margin-block: 2rem;
  text-align: left;
  border-bottom: black 2px solid;
  width: 80%;
  margin-top: 4rem;
  padding-bottom: 0.5rem;
}

.hyderabad-urban {
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  /* column-count: 3; */
}

.hyderabad-urban>figure>img {
  max-width: auto;
  max-height: auto;
  display: inline-block;
  object-fit: cover;
}

.kritunga {
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.pristine-estates {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr; */
}

.hs2 {
  grid-row: span 2;
}

.hs1 {
  grid-row: span 1;
}

.ws2 {
  grid-column: span 2;
}

.ws6 {
  grid-column: span 4;
}

/* about me */
.aboutMe-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
}

.aboutMe-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-bottom: 2rem;
}

.aboutMe-content>p {
  max-width: 60ch;
  font-size: 24px;
}

.aboutMe-content>h3 {
  font-size: 28px;
}

.about-me-img {
  max-height: 90vh;
}

.about-me-img>img {
  height: 700px;
}

/* Contact Form */

.formContent {
  display: block;
  margin: auto;
  width: 30%;
  margin-top: 12rem;
}

.cont-page {
  background-color: #f5f5f5;
}

.half>* {
  all: unset;
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-block: 0.8em;
  background-color: #fff;
  padding-block: 1em;
  padding-inline: 1em;
  border-radius: 10px;
  box-shadow: 0 2px 1px rgb(0 0 0 / 10%);
}

#input-submit {
  text-align: center;
  color: #f5f5f5;
  background-color: rgb(68, 68, 68);
  width: 50%;
  /* margin: auto; */
  cursor: pointer;
}

/* Display text on hover */
.figure-container {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
}

.image {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.figure-container:hover .image {
  opacity: 0.3;
}

.figure-container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #2c2c2c;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

@media only screen and (max-width: 1100px) {
  .nav-section {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 2;
  }

  /* .navbar {
    flex-direction: row;
    align-items: center;
  } */
  .tablinks+.tablinks {
    margin-left: 0px;
  }

  .mobile-menu {
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 2rem;
    margin: auto;
    /* z-index: 3; */
    position: fixed;
    /* right: 5%; */
    top: 65px;
    z-index: 10;
    height: 100vh;
  }

  .img-grid2 {
    grid-template-columns: 1fr 1fr;
  }

  .tLogo {
    font-size: 1.5rem;
  }
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}