*{
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}
.website_container{
    width: 90%;
    margin: auto;
    max-width: 1440px;
}
.tabContent{
    display: none;
}
img{
    max-width: 100%;
	min-height: 100%;
	display: block;
	object-fit: cover;
}

.img-grid2{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-flow: dense;
}
.hs2{
    grid-row: span 2;
}
.hs1{
    grid-row: span 1;
}
.ws2{
    grid-column: span 2;
}





